ALTER TABLE "employees" ADD COLUMN "registration" TEXT; ALTER TABLE "employees" ADD COLUMN "birth_date" TIMESTAMP(3); ALTER TABLE "employees" ADD COLUMN "status" TEXT NOT NULL DEFAULT 
\ATIVO\'; ALTER TABLE "employees" ADD COLUMN "branch" TEXT; ALTER TABLE "employees" ADD COLUMN "department" TEXT; ALTER TABLE "employees" ADD COLUMN "workplace" TEXT; ALTER TABLE "employees" ADD COLUMN "shift" TEXT;
